<app-carousel [items]="quotes()" (activeIndexChange)="handleIndexChange($event)">
  <ng-template let-quote let-i="index">
    <div class="quote-slide">
      @if (i === quotes().length - 1) {
        <app-skeleton [width]="600">
          <h2 class="quote-text">“{{ quote.quote }}”</h2>
        </app-skeleton>
        <app-skeleton [width]="100">
          <p class="quote-author">— {{ quote.author }}</p>
        </app-skeleton>
        <app-skeleton>
          <app-rating />
        </app-skeleton>
      } @else {
        <h2 class="quote-text">“{{ quote.quote }}”</h2>
        <p class="quote-author">— {{ quote.author }}</p>
        <app-rating [rating]="ratings()[quote.id]" (ratingChange)="handleRatingChange($event, quote.id)"/>
      }
    </div>
  </ng-template>
</app-carousel>
