:host {
  display: inline-block;
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
      90deg,
      #e0e0e0 0%,
      #f5f5f5 37%,
      #e0e0e0 73%,
  );
  background-size: 400% 100%;
  animation: skeleton-shimmer 2s ease-in-out infinite;

  ::ng-deep > * {
    visibility: hidden;
  }
}

@keyframes skeleton-shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
